.container a h1 {
  font-family: 'Koulen', cursive;
  font-size: 3rem;
}

.mainTitle {
  font-size: 100px;
  text-align: center;
  width: 425px;
  margin: 0;
  line-height: 100px;
}

.subTitle {
  font-size: 40px;
  letter-spacing: 45px;
  margin: 0;
  margin-left: 25px;
  margin-bottom: 15px;
  text-align: center;
  width: 425px;
}

.waitOpen {
  font-size: 100px;
}

.koulen {
  font-family: 'koulen';
}

.inter {
  font-family: 'inter';
}

.Main .article {
  font-family: 'Inter';
  font-weight: 100;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .container a h1 {
    font-size: 2rem;
  }
  .mainTitle {
    font-size: 4rem;
    line-height: 4rem;
  }

  .subTitle {
    font-size: 2rem;
    letter-spacing: 1.6rem;
  }
  .waitOpen {
    font-size: 3rem;
  }
  .article {
    font-size: 0.1rem;
  }
}